doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css")
        title Welcome to my App
    body
        include ./navbar.pug
        div.container
            if (user)
                h1 Welcome, #{user.displayName}
                a(href="/logout") Logout
            else
                div.jumbotron 
                    h2 You're not logged in!
                    p Login with 
                        a(href='/auth/google') Google